<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
		<!--LOCAL-->
		<add name="DataContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;..\local.mdf&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--DEV-->
    <!--<add name="DataContext" connectionString="Data Source=dev.rappfrance.com\devinst2008,1433;Initial Catalog=canalplus_collecte;Persist Security Info=True;User ID=sa;Password=Rapp*25" providerName="System.Data.SqlClient" />-->
    <!--PREPROD-->
    	<!--<add name="DataContext" connectionString="Data Source=RAPPWIS02.AS44099.NET;Initial Catalog=COLLECTE_PRP;Persist Security Info=True;User ID=UserCOLLECTE_PRP;Password=BluR=maUt14" providerName="System.Data.SqlClient" />-->
    <!--PREPROD by IP-->
    <!--<add name="DataContext" connectionString="Data Source=10.7.217.42;Initial Catalog=COLLECTE_PRP;Persist Security Info=True;User ID=UserCOLLECTE_PRP;Password=BluR=maUt14" providerName="System.Data.SqlClient" />-->
    <!--PROD-->
    <!--<add name="DataContext" connectionString="Data Source=RAPPWIS02.AS44099.NET;Initial Catalog=COLLECTE;Persist Security Info=True;User ID=UserCOLLECTE;Password=OAkUm45Axons!" providerName="System.Data.SqlClient" />-->
    <!--PROD by IP-->
    <!--<add name="DataContext" connectionString="Data Source=10.7.217.42;Initial Catalog=COLLECTE;Persist Security Info=True;User ID=UserCOLLECTE;Password=OAkUm45Axons!" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
