@{
	ViewBag.HtmlTitle = "Le Grand Jeu des Héros CANAL+";
	ViewBag.ContainerId = "pagejeu";
	ViewBag.Tag = "IG_Perdu";
	ViewBag.Page = "pagejeu";
}
<div id="logoCANAL"><img src="@Url.Content("~/content/images/logocanal.gif")" alt="CANAL+" /></div>
<div id="logojeu"></div>

<div id="pageinstantgagnant">
	<div id="blason-perdu"></div>
	<div id="contentinstantgagnant">
		<h1>DOMMAGE</h1>
		<h2>VOUS N'AVEZ PAS ENCORE GAGN&Eacute;</h2>
		<p>
			Mais repoussez vos limites, commencez le test<br />
			et <span class="demiitalic">tenter de gagner</span> l'un des nombreux lots SONY en jeu&#8805; !
		</p>
		<a href="@Url.Action("Question1")"><img src="@Url.Content("~/content/images/bt-passetest.jpg")" alt="Je passe le test" /></a>
	</div>
</div>
@section footer
{
<div id="footercomplet">
	<a href="@Url.Content("~/pdf/Mentions légales_COLLECTE_150514.pdf")" target="_blank" class="mentionslegales">MENTIONS L&Eacute;GALES</a>
	<a href="#" target="_blank" class="reglement">R&Eacute;GLEMENT</a>
	<p class="mentionsliste">&#8805;Liste complète des dotations disponibles dans le règlement du jeu.</p>
	</div>
}
