<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="LogConfiguration" type="Tools.CustomConfigSections.LogConfiguration, Tools" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <LogConfiguration LogLevel="Info" LogMethods="Log4Net" />
  <connectionStrings>		
		<!--DEV-->
    <add name="DataContext" connectionString="Data Source=dev.rappfrance.com\devinst2008,1433;Initial Catalog=canalplus_collecte;Persist Security Info=True;User ID=sa;Password=Rapp*25" providerName="System.Data.SqlClient" />
		<!--LOCAL-->
		<!--<add name="DataContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;E:\DDB\CANAL\Collecte\Collecte.BackOffice\App_Data\local.mdf&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
		
		<!--Service Config -->
    <add key="secondTimerTick" value="5" />
		<add key="dailyExecutionTime" value="0h00" />
		<add key="forceRightTime" value="true" />
		<add key="NotificationEmail" value="simon.budin@gmail.com" />
		<add key="NotificationEmail_CC" value="" />
		<add key="CanTriggerSeveralTimesADay" value="true" />
		<add key="CanalCampaignName" value="N01" />

		<!--Local Paths -->
		<add key="localCsvFilesDirectory" value="E:\DDB\CANAL\Collecte\Collecte.BackOffice\Files\csvin" /><!--files are created here from us-->
		<add key="fromCanalFtpPath" value="E:\DDB\CANAL\Collecte\Collecte.BackOffice\Files\csvout" /><!--files are sent here via ftp-->
		<add key="fromCanalCsvFilesDirectory" value="E:\DDB\CANAL\Collecte\Collecte.BackOffice\Files\csvout" /><!--files are copied here after pushed by canal-->
		<add key="tradeDoublerLocalXmlPath" value="E:\DDB\CANAL\Collecte\Collecte.BackOffice\Files\xml" /><!--xml files for trade are created here-->

		<!--Toggle Features -->
		<add key="createCsv" value="true" /> 
		<add key="sendCsvToCanal" value="true" /> <!--you can prevent the service to send a csv file to canal for tests-->
		<add key="detectCsvFromCanal" value="true" />
		<add key="sendXmlToTrade" value="false" /> <!--you can prevent the service to send an xml file to trade for tests-->
		
		<!--CANAL FTP info -->
		<add key="ftpServer_canal" value="194.4.232.59" />
		<add key="ftpLogin_canal" value="sftp_rapppr01" />
		<add key="ftpPass_canal" value="rapp2canal" />
		
		<!-- Trade doubler infos -->
		<add key="tradeDoublerEventId" value="287866" />
		<add key="tradeDoublerOrgId" value="1772736" />
		<add key="TradeDoublerMailTo" value="simon.budin@gmail.com" />
		<add key="TradeDoublerCCTo" value="" />

		<add key="TradeDoublerFtpHost" value="" />
		<add key="TradeDoublerFtpLogin" value="" />
		<add key="TradeDoublerFtpPass" value="" />
		<add key="TradeDoublerFtpDistantPath" value="" />
		

		<!-- SMTP -->
		<add key="SmtpPath" value="relay.cheetahsender.com" />
		<add key="SmtpClientPort" value="25" />
		<add key="SmtpUser" value="e8a5609f-ef2d-450a-9263-b45503c57c95" />
		<add key="SmtpKey" value="Z5VC6Xsz" />
		<add key="SmtpSSL" value="false" />
		
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
		
		<!--MISC-->
		<add key="DefaultCulture" value="fr-FR" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\ServiceBase.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
