<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="LogConfiguration" type="Tools.CustomConfigSections.LogConfiguration" />
	</configSections>
	<LogConfiguration LogLevel="Info" LogMethods="Log4Net" />
  <connectionStrings>
		<add name="canalplus_infinityEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RAPPWIS02.AS44099.NET;Initial Catalog=CINEPROFILER;Persist Security Info=True;User ID=UserCINEPROFILER;Password=ukE48CROp=;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
	<appSettings>
		<add key="debugMode" value="false"/>
		<add key="secondTimerTick" value="5"/>
    <add key="heureDuJour" value="4h00"/>
    <add key="localCsvFilesDirectory" value="D:\WWW\prod.cineprofiler.canalplus.clients.rappfrance.com\ServiceUsers\csvfiles"/>
    <add key="finOperation" value="20120101"/>
		<add key="SmtpPath" value="smtp.rappfrance.com" />
		<add key="NotifEmail" value="hortense.bourdon@rappfrance.com"/>
		
		<!-- FTP info-->
		<add key="ftpServer" value="ftp.mailperformance.com"/>
    <add key="ftpLogin" value="xsp046ftp"/>
    <add key="ftpPass" value="lPrILR"/>
    <add key="ftpFilePath" value="/5380 - Inscrits Cine Profiler/InscritsCollecte_#Date#.csv"/>
				<!--<add key="ftpServer" value="RAPPWIS02.AS44099.NET"/>
    <add key="ftpLogin" value="FTP_RAPP"/>
    <add key="ftpPass" value="CREph6rE"/>
    <add key="ftpFilePath" value="/prp.cineprofiler.canalplus.clients.rappfrance.com/ServiceUsers/csvfiles/debug_InscritCineProfiler_#Date#.csv"/>-->
		
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<log4net>
		<root>
			<level value="INFO" />
			<appender-ref ref="RollingFileAppender" />
		</root>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="Logs\MorningService.log" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="-1" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<datePattern value="yyyyMMdd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>