@{
    ViewBag.Title = "DejaParticipe";
	ViewBag.ContainerId = "pagejeu";
}


<div id="logoCANAL"><img src="@Url.Content("~/content/images/logocanal.gif")" alt="CANAL+" /></div>
<div id="logojeu"></div>

<div id="pageinstantgagnant">
	<div id="blason-perdu"></div>
	<div id="contentinstantgagnant-dejajoue">
		<p>
			NOUS SOMMES<br />D&Eacute;SOL&Eacute;S
		</p>
		<h2>MAIS VOUS AVEZ D&Eacute;J&Agrave; PARTICIP&Eacute;</h2>
	</div>
</div>
@section footer
{
<div id="footerpetit">
	<a href="@Url.Content("~/pdf/Mentions légales_COLLECTE_150514.pdf")" target="_blank" class="mentionslegales">MENTIONS L&Eacute;GALES</a>
	<a href="#" target="_blank" class="reglement">R&Eacute;GLEMENT</a>
</div>
}
