@model bool?
@{
    string prefix = ViewData.TemplateInfo.HtmlFieldPrefix;
    string idtrue = ViewData.TemplateInfo.HtmlFieldPrefix + "_1";
    string idfalse = ViewData.TemplateInfo.HtmlFieldPrefix + "_0";
}
<span class="custom_input">

	@Html.RadioButton(string.Empty, "true", Model.HasValue && Model.Value == true, new { @id = idtrue, @class = "radio" })
	<span class="txt12" for="IsCanal_1">Oui	@Html.Raw("&nbsp;")</span>
	@Html.RadioButton(string.Empty, "false", Model.HasValue && Model == false, new { @id = idfalse, @class = "radio" })
	<span class ="txt12" for="IsCanal_0">Non</label>
</span>