@charset "UTF-8";

@font-face {
	font-family: 'canallightromain';
	src: url('../fonts/canallir-webfont.eot');
	src: url('../fonts/canallir-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/canallir-webfont.woff') format('woff'), url('../fonts/canallir-webfont.ttf') format('truetype'), url('../fonts/canallir-webfont.svg#canallightromainregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'canallightitalique';
	src: url('../fonts/canallii-webfont.eot');
	src: url('../fonts/canallii-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/canallii-webfont.woff') format('woff'), url('../fonts/canallii-webfont.ttf') format('truetype'), url('../fonts/canallii-webfont.svg#CanalLightItaliqueItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'canaldemiitalique';
	src: url('../fonts/canaldemitalique-webfont.eot');
	src: url('../fonts/canaldemitalique-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/canaldemitalique-webfont.woff') format('woff'), url('../fonts/canaldemitalique-webfont.ttf') format('truetype'), url('../fonts/canaldemitalique-webfont.svg#CanalDemIItaliqueItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'canalbolditalique';
	src: url('../fonts/canalbolditalique-webfont.eot');
	src: url('../fonts/canalbolditalique-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/canalbolditalique-webfont.woff') format('woff'), url('../fonts/canalbolditalique-webfont.ttf') format('truetype'), url('../fonts/canalbolditalique-webfont.svg#canalbolditaliqueregular') format('svg');
	font-weight: normal;
	font-style: normal;
}



*, p, body, div, h1, h2, h3, h4, h5, h6, form {
	margin: 0;
	border: 0;
	padding: 0;
	color: #1d1d1b;
}
body
{
	background: #000;
	padding-top: 65px;
}

.spacer {
	clear: both;
}

.lightitalic {
	font-family: 'canallightitalique', Arial, Helvetica, sans-serif;
}

.light {
	font-family: 'canallightromain', Arial, Helvetica, sans-serif;
}

.bold {
	font-family: 'canalboldromain', Arial, Helvetica, sans-serif;
}

.bolditalic {
	font-family: 'canalbolditalique', Arial, Helvetica, sans-serif;
}

.demiitalic {
	font-family: 'canaldemiitalique', Arial, Helvetica, sans-serif;
}

.uppercase {
	text-transform: uppercase;
}

.txt12 {
	font-size: 12px;
}

a {
	color: #1d1d1b;
}

button {
	background: none;
	cursor: pointer;
}

#conteneurgnl {
	position: relative;
	margin: 0 auto;
}

#conteneurgnl, #home, #pagejeu {
	width: 960px;
	background-color: #feca1e;
}

	#conteneurgnl #logoCANAL img {
		width: 142px;
		height: 35px;
		margin-top: 24px;
		margin-left: 27px;
	}

.jaune {
	color: #feca1e;
}

.magenta {
	color: #ff07f0;
}

.size20 {
	font-size: 20px;
}

input[type=text] {
	width: 160px;
	height: 19px;
	color: #8d8d8d;
	font-family: 'canallightromain', Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #e8e8e8;
	border: 1px solid white;
	padding-left: 5px;
	margin-bottom: 9px;
}

	input[type=text].erreur, input[type=text].input-validation-error {
		background-color: #FFF;
		border: 1px solid #ff0000;
	}


/************************** PAGES RESULTAT ****************************/

#pageresultat {
	min-height: 571px;
}

	#pageresultat #logojeu {
		width: 96px;
		height: 137px;
		background-image: url(../images/logojeu.png);
		background-repeat: no-repeat;
		position: relative;
		margin-top: -45px;
		margin-left: 863px;
		z-index: 3;
	}

#resultat-heroslegendaire {
	width: 775px;
	height: 483px;
	position: static;
	margin-left: 166px;
	margin-top: -83px;
	background-image: url(../images/heroslegend.jpg);
	background-repeat: no-repeat;
	background-position: top right;
}

#resultat-antiheros {
	width: 775px;
	height: 483px;
	position: static;
	margin-left: 166px;
	margin-top: -83px;
	background-image: url(../images/antiheros.jpg);
	background-repeat: no-repeat;
	background-position: top right;
}

#resultat-herosdujour {
	width: 775px;
	height: 483px;
	position: static;
	margin-left: 166px;
	margin-top: -83px;
	background-image: url(../images/herosjour.jpg);
	background-repeat: no-repeat;
	background-position: top right;
}

#legende {
	position: static;
	padding-top: 22px;
	height: 218px;
}

#merci {
	position: static;
	height: 94px;
}

#pageresultat p#l1 {
	font-family: 'canallightitalique', Arial, Helvetica, sans-serif;
	font-size: 27px;
	line-height: 33px;
}

#pageresultat #l2 {
	margin-top: 17px;
	width: 425px;
	font-family: 'canallightitalique', Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 19px;
}

#pageresultat #l3 {
	font-family: 'canalbolditalique', Arial, Helvetica, sans-serif;
	font-size: 27px;
}

#pageresultat #l4 {
	margin-top: 2px;
	font-family: 'canallightitalique', Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 19px;
}

#collecte {
	float: left;
	width: 455px;
	height: 131px;
	padding-top: 11px;
	padding-left: 18px;
	background-color: #1d1d1b;
}

.ie8 #collecte {
	height: 133px;
	padding-top: 9px;
}

#collecte p {
	color: #FFF;
	font-size: 16px;
	font-family: 'canallightitalique', Arial, Helvetica, sans-serif;
}

	#collecte p.partager {
		margin-bottom: 10px;
	}

	#collecte p.collecte {
		display: inline;
	}

#collecte input[type=text] {
	width: 188px;
	height: 21px;
	margin-bottom: 9px;
	margin-right: 9px;
	color: #000;
	font-family: 'canallightromain', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#collecte button {
	width: 73px;
	height: 30px;
	vertical-align: middle;
	float: left;
	margin: 26px 0px 0px 87px;
}

#collecte img {
	vertical-align: middle;
}

#collecte #mailinputs {
	width: 200px;
	float: left;
}

#collecte .erreur {
	height: 20px;
	font-size: 0.8em;
	color: red;
	margin: 4px 0px 0px 4px;
	float: left;
	width: 241px;
	height: 20px;
}

#collecte .ok {
	height: 20px;
	color: white;
	margin: 4px 0px 0px 98px;
	float: left;
	width: 86px;
	height: 20px;
}

#FBpartage {
	float: left;
	width: 178px;
	height: 144px;
	margin-left: 19px;
	background-color: #1d1d1b;
}

	#FBpartage p {
		margin-top: 25px;
		margin-left: 18px;
		color: #FFF;
		font-size: 16px;
		font-family: 'canallightitalique', Arial, Helvetica, sans-serif;
	}

	#FBpartage img {
		margin-top: 17px;
		margin-left: 18px;
		width: 141px;
		height: 31px;
	}


/************************** PAGES GAGNE ****************************/
#pagejeu {
	height: 576px;
}

	#pagejeu #logojeu {
		width: 96px;
		height: 137px;
		background-image: url(../images/logojeu.png);
		background-repeat: no-repeat;
		margin-top: -45px;
		margin-left: 863px;
	}

#conteneurgnl #footerpetit {
	padding-top: 7px;
	padding-bottom: 7px;
	width: 960px;
	height: 18px;
	background-color: #000;
	color: #8e8e8e;
	text-align: right;
	font-family: 'canallightromain', Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	z-index: 3;
}

#footerpetit a {
	color: #8e8e8e;
	text-decoration: none;
}

	#footerpetit a:hover {
		text-decoration: underline;
	}

#footerpetit .mentionslegales {
	margin-right: 14px;
}

#footerpetit .reglement {
	margin-right: 27px;
}

/**** PAGES INSTANT GAGNANT ****/
#pageinstantgagnant {
	width: 830px;
	height: 337px;
	margin-top: 7px;
	margin-left: 118px;
}

#blason-carnetcanal {
	width: 312px;
	height: 337px;
	background-image: url(../images/carnetcanal.jpg);
	background-repeat: no-repeat;
}

#blason-carnetcine {
	width: 312px;
	height: 337px;
	background-image: url(../images/carnetcine.jpg);
	background-repeat: no-repeat;
}

#blason-carnetLPJ {
	width: 312px;
	height: 337px;
	background-image: url(../images/carnetlpj.jpg);
	background-repeat: no-repeat;
}

#blason-creationoriginale {
	width: 312px;
	height: 337px;
	background-image: url(../images/creaoriginale.jpg);
	background-repeat: no-repeat;
}

#blason-LGJ {
	width: 312px;
	height: 337px;
	background-image: url(../images/gdjournal.jpg);
	background-repeat: no-repeat;
}

#blason-sport {
	width: 312px;
	height: 337px;
	background-image: url(../images/carnetsport.jpg);
	background-repeat: no-repeat;
}

#blason-iphone {
	width: 312px;
	height: 337px;
	background-image: url(../images/carnetiphone.jpg);
	background-repeat: no-repeat;
}

#blason-lpj4 {
	width: 312px;
	height: 337px;
	background-image: url(../images/carnetlpj4s.jpg);
	background-repeat: no-repeat;
}

#blason-lpj5 {
	width: 312px;
	height: 337px;
	background-image: url(../images/carnetlpj5.jpg);
	background-repeat: no-repeat;
}

#blason-mugGJ {
	width: 312px;
	height: 337px;
	background-image: url(../images/GJ.jpg);
	background-repeat: no-repeat;
}

#blason-muggroland {
	width: 312px;
	height: 337px;
	background-image: url(../images/groland.jpg);
	background-repeat: no-repeat;
}

#blason-parapluieNoir {
	width: 312px;
	height: 337px;
	background-image: url(../images/parapluienoir.jpg);
	background-repeat: no-repeat;
}

#blason-parapluieOrange {
	width: 312px;
	height: 337px;
	background-image: url(../images/parapluieorange.jpg);
	background-repeat: no-repeat;
}

#blason-parapluieViolet {
	width: 312px;
	height: 337px;
	background-image: url(../images/parapluieviolet.jpg);
	background-repeat: no-repeat;
}

#blason-perdu {
	width: 312px;
	height: 337px;
	background-image: url(../images/perdu.jpg);
	background-repeat: no-repeat;
}

#contentinstantgagnant {
	margin-top: -304px;
	margin-left: 274px;
}

#contentinstantgagnant-dejajoue {
	margin-top: -290px;
	margin-left: 274px;
}

#contentinstantgagnant h1 {
	font-family: 'canalbolditalique', Arial, Helvetica, sans-serif;
	font-size: 38px;
}

#contentinstantgagnant h2 {
	margin-top: -7px;
	font-family: 'canallightitalique', Arial, Helvetica, sans-serif;
	font-size: 24px;
}

#contentinstantgagnant-dejajoue p {
	font-family: 'canalbolditalique', Arial, Helvetica, sans-serif;
	font-size: 38px;
	line-height: 40px;
}

#contentinstantgagnant-dejajoue h2 {
	margin-top: 15px;
	font-family: 'canallightitalique', Arial, Helvetica, sans-serif;
	font-size: 24px;
}

#contentinstantgagnant p {
	margin-top: 22px;
	font-family: 'canallightitalique', Arial, Helvetica, sans-serif;
	font-size: 18px;
}

#contentinstantgagnant img {
	margin-top: 18px;
	width: 192px;
	height: 36px;
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#caa118, Direction=135, Strength=5);
}


/**** QUIZZ ****/

#compteurquizz {
	width: 42px;
	height: 57px;
	margin-top: -127px;
	margin-left: 459px;
}

#quizz {
	width: 960px;
	height: 491px;
}

	#quizz p.question {
		font-family: 'canaldemiitalique', Arial, Helvetica, sans-serif;
		font-size: 28px;
		text-align: center;
		margin-top: 28px;
		margin-bottom: 40px;
		height: 37px;
	}

#reponse1 {
	float: left;
	width: 202px;
	height: 345px;
	margin-left: 93px;
}

#reponse2 {
	float: left;
	width: 202px;
	height: 345px;
	margin-left: 88px;
}

#reponse3 {
	float: left;
	width: 202px;
	height: 345px;
	margin-left: 87px;
}


#quizz img {
	margin-bottom: 12px;
}

#reponse1 p, #reponse2 p, #reponse3 p {
	width: 202px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: 'canaldemiitalique', Arial, Helvetica, sans-serif;
	font-size: 24px;
}

	#reponse1 p span, #reponse2 p span, #reponse3 p span {
		width: 202px;
		vertical-align: middle;
		display: inline-block;
		line-height: 24px;
	}


#colonne-formulaire {
	display: none;
	width: 329px;
	height: 577px;
	position: absolute;
	top: 0px;
	right: 0px;
}

	#colonne-formulaire #ombre {
		display: table-cell;
		width: 8px;
		height: 576px;
		background-image: url(../images/bg-colform.png);
		background-repeat: repeat-y;
	}

	#colonne-formulaire #form-adresse, #colonne-formulaire #form-numero {
		display: table-cell;
		width: 321px;
		height: 576px;
		background-color: #fff;
		background-image: url(../images/1chance.gif);
		background-repeat: no-repeat;
		background-position: top right;
		vertical-align: top;
	}

#form-adresse p, #form-adresse .txterreur, #form-adresse .infosnl, #form-numero p, #form-numero .txterreur, #form-numero .infosnl {
	margin-left: 29px;
}

p.rappelville {
	margin-top: 140px;
	font-family: 'canaldemiitalique', Arial, Helvetica, sans-serif;
	font-size: 24px;
}

#form-adresse p.adresse, #form-numero p.adresse {
	margin-top: 23px;
	margin-bottom: 7px;
	font-family: 'canallightitalique', Arial, Helvetica, sans-serif;
	font-size: 15px;
}

#form-numero p.adresse {
	line-height: 16px;
	margin-bottom: 13px;
}

#form-adresse input[type=text], #form-numero input[type=text] {
	width: 264px;
}

#form-adresse .txterreur, #form-numero .txterreur {
	font-size: 13px;
	color: #ff0000;
	font-family: 'canallightromain', Arial, Helvetica, sans-serif;
	margin-bottom: 9px;
	line-height: 16px;
	height: 16px;
}

#form-numero .txterreur {
	margin-top: 12px;
}

#form-adresse button, #form-numero button {
	margin-left: 122px;
	margin-top: 18px;
	width: 171px;
	height: 35px;
	background: none;
	cursor: pointer;
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#dfdfdf, Direction=135, Strength=5);
}

#form-adresse p.ignorer, #form-numero p.ignorer {
	margin-left: 189px;
	margin-top: 8px;
	font-size: 12px;
	font-family: 'canallightromain', Arial, Helvetica, sans-serif;
}

#form-adresse .infosnl, #form-numero .infosnl {
	font-size: 12px;
	margin-top: 34px;
	line-height: 14px;
	font-family: 'canallightromain', Arial, Helvetica, sans-serif;
}

#form-numero .infosnl {
	text-align: justify;
}

/*
.ie8 #form-adresse .txterreur{
	margin-top:-60px;}
.ie8 #form-adresse .infosnl{
	margin-top:25px;}*/

/************************** HOME ****************************/
#home {
	min-height: 571px;
}

	#home #colgauche {
		float: left;
		width: 630px;
		height: 571px;
	}


	#home #logojeu {
		/*position:relative;
	top: -323px;
	left: 347px;*/
		width: 278px;
		height: 323px;
		margin-top: -323px;
		margin-left: 347px;
		background-image: url(../images/logojeuhome.jpg);
		background-repeat: no-repeat;
	}

	#home h1 {
		margin-top: 22px;
		margin-left: 27px;
		text-align: left;
		font-family: 'canallightitalique', Arial, Helvetica, sans-serif;
		font-size: 16px;
		line-height: 19px;
	}

	#home h2 {
		margin-top: 13px;
		margin-left: 27px;
		text-align: left;
		font-family: 'canaldemiitalique', Arial, Helvetica, sans-serif;
		font-size: 16px;
		line-height: 19px;
	}

#boxblanche1 {
	position: relative;
	margin-top: 20px;
	width: 358px;
	height: 74px;
	background-color: #FFF;
}

#boxblanche2 {
	position: relative;
	margin-top: 6px;
	width: 409px;
	height: 74px;
	background-color: #FFF;
}

	#boxblanche1 p, #boxblanche2 p {
		margin-left: 27px;
		padding-top: 19px;
		font-family: 'canallightitalique', Arial, Helvetica, sans-serif;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: -1px;
	}

		#boxblanche1 p.indent1 {
			padding-top: 0;
			text-indent: 13px;
		}

		#boxblanche2 p.indent2 {
			padding-top: 0;
			text-indent: 18px;
		}

#home .dotations {
	position: absolute;
	top: 380px;
	left: 32px;
}

#home #ombre {
	float: left;
	width: 8px;
	height: 571px;
	background-image: url(../images/bg-colform.png);
	background-repeat: repeat-y;
}

#home #coldroite {
	float: left;
	width: 322px;
	min-height: 571px;
	background-color: #FFF;
}

	#home #coldroite p, #home #coldroite img.fbconnect {
		margin-left: 20px;
	}

	#home #coldroite p {
		font-family: 'canaldemiitalique', Arial, Helvetica, sans-serif;
		font-size: 13px;
	}

		#home #coldroite p#l1 {
			font-size: 20px;
			margin-top: 24px;
			margin-bottom: 10px;
			color: #feca1e;
			line-height: 22px;
		}

			#home #coldroite p#l1 sup {
				font-size: 8px;
			}

		#home #coldroite p#l2 {
			line-height: 16px;
		}

		#home #coldroite p#l3 {
			line-height: 16px;
		}

	#home #coldroite img.fbconnect {
		margin-top: 9px;
		margin-bottom: 12px;
	}

#home #formcoldroite, #home #formcoldroite p {
	font-family: 'canallightromain', Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
}

#home label {
	display: inline-block;
	width: 95px;
	height: 21px;
}

#home input[type=radio] {
	margin-right: 5px;
}

#home input[type=radio]#Civi_1 {
	margin-left: 20px;
}

#home .civilite {
	margin-top: 5px;
	margin-bottom: 10px;
}

#home .zoneerreur {
	text-align: right;
	color: #ff0000;
	margin:-2px 39px 7px 0;
	z-index: 2;
}

#home label.abonne {
	z-index: 0;
	display: inline-block;
	width: 161px;
	height: 21px;
}

#home input[type=radio]#Non {
	margin-left: 15px;
}

#home label.conditions {
	display: inline-block;
	width: 211px;
	height: 21px;
	font-size: 12px;
	margin-left: 5px;
	margin-top: 15px;
}

#home input#conditions {
	margin-left: 55px;
}

#home button {
	width: 265px;
	height: 35px;
	background: none;
	margin-top: 2px;
	margin-left: 23px;
	cursor: pointer;
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#dfdfdf, Direction=135, Strength=5);
}

#home p.txtright {
	margin-top: 10px;
	margin-right: 32px;
	margin-bottom: 17px;
	line-height: 14px;
}

#home .oblig {
	margin-top: 0;
	margin-right: 32px;
}

#home #formcoldroite p.txtright, #home #formcoldroite p.oblig {
	font-size: 12px;
	text-align: right;
	margin-bottom: 9px;
}

#conteneurgnl #footercomplet {
	padding-top: 8px;
	width: 960px;
	height: 101px;
	background-color: #000;
	color: #8e8e8e;
	text-align: right;
	font-family: 'canallightromain', Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#footercomplet a {
	color: #8e8e8e;
	text-decoration: none;
}

	#footercomplet a:hover {
		text-decoration: underline;
	}

#footercomplet p {
	font-family: 'canallightitalique', Arial, Helvetica, sans-serif;
}

	#footercomplet p.mentionsliste {
		margin-top: -19px;
		text-align: left;
		margin-left: 17px;
		width: 360px;
		color: #8e8e8e;
	}

#footercomplet .mentionslegales {
	margin-right: 14px;
}

#footercomplet .reglement {
	margin-right: 27px;
}

#footercomplet p.mentions {
	text-align: left;
	margin-top: 13px;
	margin-left: 17px;
	margin-right: 17px;
	font-size: 9px;
	color: #8e8e8e;
	line-height: 11px;
}

.ie8 input[type=text] {
	height: 16px;
	padding-top: 3px;
}

.share_container {width:178px; text-align:center;margin-top:15px;}
