@model bool
<div id="footer">	
	@if(@Model)
	{
		<a target="_blank" href="@Url.Content("~/content/Mentions légales_COLLECTE_Pour0201.pdf")" class="mentionslegales">Mentions l&Eacute;gales</a>
	}
	<a target="_blank" href="@Url.Content("~/content/reglement_vive_le_jeu_dhiver_canalsat.pdf")" class="reglement">R&Eacute;glement</a>
</div>