<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<!--PREPROD-->	<add name="DataContext" connectionString="Data Source=RAPPWIS02.AS44099.NET;Initial Catalog=COLLECTE_PRP;Persist Security Info=True;User ID=UserCOLLECTE_PRP;Password=BluR=maUt14" providerName="System.Data.SqlClient" 
												 xdt:Transform="SetAttributes" xdt:Location="Match(name)"/>
	</connectionStrings>
	<appSettings>

		<add key="SmtpPath" value="relay.cheetahsender.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SmtpClientPort" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SmtpUser" value="e8a5609f-ef2d-450a-9263-b45503c57c95" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SmtpKey" value="Z5VC6Xsz" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SmtpSSL" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="GaAccount" value="UA-40982603-1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="shareUrl" value="http://prp2.collecte.canalplus.clients.rappfrance.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="redirectedUrl" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		
		<add key="maintenance" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.web>
		<compilation xdt:Transform="Remove"/>
	</system.web>
</configuration>